In [62]:
s = '1,22,333,4444,55555'
s1 = s.split(',')
s1

['1', '22', '333', '4444', '55555']

In [63]:
for i in s1:
    print(i)

1
22
333
4444
55555

In [64]:
for a in enumerate(s1):
    print(a)

(0, '1')
(1, '22')
(2, '333')
(3, '4444')
(4, '55555')

In [65]:
for a, b in enumerate(s1):
    print(a, b)

0 1
1 22
2 333
3 4444
4 55555

In [66]:
for a, b in enumerate(s1, start=3):
    print(a, b)

3 1
4 22
5 333
6 4444
7 55555

In [67]:
s1[::-1]
# [start:end:step]

['55555', '4444', '333', '22', '1']

In [68]:
s1.append('False')
s1

['1', '22', '333', '4444', '55555', 'False']

In [69]:
s1.insert(0, True)
s1

[True, '1', '22', '333', '4444', '55555', 'False']

In [70]:
FILE_PATH = 'time_series_covid19_confirmed_global.csv'

f = open(file=FILE_PATH, mode='r', encoding='utf-8')
f

In [71]:
data = f.read()

In [72]:
f.close()

In [ ]:
with open(file=FILE_PATH, mode='r', encoding='utf-8') as f:
    # with statement contains open and automatic close
    data = f.read()

In [78]:
import pandas as pd
df = pd.read_csv(FILE_PATH, encoding='utf-8')
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/30/20,7/31/20,8/1/20,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,36542,36675,36710,36710,36747,36782,36829,36896,37015,37054
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,5197,5276,5396,5519,5620,5750,5889,6016,6151,6275
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,29831,30394,30950,31465,31972,32504,33055,33626,34155,34693
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,922,925,925,925,937,939,939,944,955,955
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1109,1148,1164,1199,1280,1344,1395,1483,1538,1572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186400,6.613100,0,0,0,0,0,0,...,870,871,874,874,874,875,878,878,878,878
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1726,1728,1730,1734,1734,1760,1763,1768,1796,1797
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,378,378,386,386,386,388,388,396,396,399
264,NaN,Tajikistan,38.861000,71.276100,0,0,0,0,0,0,...,7366,7409,7451,7495,7538,7583,7625,7665,7706,7706
265,NaN,Lesotho,-29.610000,28.233600,0,0,0,0,0,0,...,604,604,702,718,718,726,726,742,742,742